/********* Scroll **********/
@keyframes slideprogress {
  from {
    scale: 0 1;
  }
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  block-size: 4px;
  background-color: #e48300;
  opacity: 0.6;
  z-index: 1000;

  animation: slideprogress linear;
  transform-origin: 0;
  animation-timeline: scroll(); /***** SIGER FEJL I VALIDATOR, MEN LÆRT I KLASSEN UNDER TEMA ANIMATIONER ****/
}

/********** FORSIDE ANIMATION *********/

body.eye-zoom {
  animation: eyeZoom 2s ease forwards;
}

/* Keyframes — zoom ind */
@keyframes eyeZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3.15);
  }
}

/*********** GITTER ************/

.slowHide {
  animation: slowHide 4s ease both;
}

@keyframes slowHide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/********** BAGGRUND opacity *********/

.opacity_down {
  animation: opacityDown 5s linear forwards;
}
@keyframes opacityDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/******** Præsentation af billeder ************/

@keyframes SlideIn {
  from {
    opacity: 0;
  }
}

.tema_imgs {
  animation: SlideIn ease-out both;
  animation-timeline: view(); /***** SIGER FEJL I VALIDATOR, MEN LÆRT I KLASSEN UNDER TEMA ANIMATIONER ****/
  animation-range: 0% 40%; /***** SIGER FEJL I VALIDATOR, MEN LÆRT I KLASSEN UNDER TEMA ANIMATIONER ****/
}

/******** LOGO **********/
.changeColor {
  animation: ChangeColor linear;
  animation-timeline: scroll();
}

@keyframes ChangeColor {
  from {
    border: 2px solid white;
  }
  to {
    border: 2px solid #e48300;
  }
}
