.Forside_svg {
  margin-top: -95px;
}

.hide {
  display: none;
}

/*********** BILLEDER ***********/

.portræt_img_container {
  margin: 1.25rem 5rem;
}
.portræt_img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.tema_imgs {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.project_img {
  width: 200px;
  height: auto;
  margin: 1.25rem auto;
  border-radius: 50%;
  box-shadow: 0 0 40px 10px #e48300;
  border-color: #595959;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.project_img:hover {
  filter: grayscale(0%);
}
/************** KNAPPER ***********/
.button_main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border-color: #595959;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 40px 10px #e48300;

  transform: translate(0, -200%);
}

#seeWork {
  margin: 0 auto;
}

.button_main:hover {
  box-shadow: 0 0 30px #ffffff;
  background-color: transparent;
  transform: translate(0, -200%) scale(1.05);
}

.Project_button {
  display: block;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 40px 10px #e48300;
  width: fit-content;
  padding: 1rem;
  text-decoration: none;

  align-items: center;
  cursor: pointer;

  margin: 1rem auto 5rem;
}

.Project_button:hover {
  box-shadow: 0 0 30px #ffffff;
  background-color: transparent;
}

/************ INFO BOXE ***********/

.infoBox {
  border-radius: 10px;
  width: fit-content;
  margin: 20px 5rem;
}

.infoBox_text {
  padding: 5px;
  margin: 5px;
}

.infoBox li {
  padding: 5px;
}

.infobox_h2 {
  color: #fff;
  font-size: 20px;
}

.text_cirkel_orange {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #e48300;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: bottom;
}

/************ Section Divider ***********/
.Section_divider {
  height: 2px;
  background: linear-gradient(to right, rgba(228, 131, 0, 0), #e48300, rgba(228, 131, 0, 0));

  margin: 20px 5rem;
}

/************* Text afsnit *************/

.infoText_projects {
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 3rem;
}

.tema h2 {
  padding-left: 6rem;
  margin-bottom: 20px;
}
.tema {
  margin-bottom: 60px;
}

.Project_h3 {
  margin: 1rem auto;
  text-align: center;
}

/********* VIDEO *********/

.Meta_video {
  opacity: 0.5;
  width: 100%;
  height: auto;
  z-index: -10;
}

/* desktop */
@media (min-width: 801px) {
  /************** Baggrundsbillede **************/
  body {
    background-attachment: fixed;
  }

  main:not(.Homepage) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  /************ BUTTONS *********/

  .button_main {
    width: 150px;
    height: 150px;
    transform: translate(0, -250%);
  }
  .button_main:hover {
    transform: translate(0, -250%) scale(1.05);
  }
  .Project_button {
    font-size: 20px;
  }

  /************ TEKST ***********/

  .project_h2 {
    color: #e48300;
  }
  .Project_h3 {
    margin-bottom: 2rem;
    padding-left: 0;
  }

  .infoBox {
    margin: 0;

    height: fit-content;
    background: linear-gradient(rgba(115, 115, 115, 0.09), rgba(228, 131, 0, 0.09));
  }

  .tema_img_text_container {
    margin-bottom: 5rem;
  }

  .tema_h2 {
    padding: 0 0 0 6rem;
  }

  .infoText_projects {
    padding: 0 0 0 6rem;
    margin-bottom: 50vh;
  }

  .contact {
    align-items: start;
  }

  /********** BILLEDER ************/
  .portræt_img_container {
    margin: 0;
  }
  .project_img {
    width: 350px;
  }

  .tema_imgs {
    width: auto;
    max-width: none;
    height: auto;
    margin-bottom: 0;
  }

  /*********** VIDEO **********/
  .Meta_video {
    opacity: 0.5;
    width: 100vw;
    height: auto;
  }

  /************** ANDRE SMÅ ELEMENTER ************/
  .Section_divider {
    margin: 3rem 0;
  }
  .Section_divider_projects {
    display: block;
    height: 2px;
    background: linear-gradient(to right, rgba(228, 131, 0, 0), #e48300, rgba(228, 131, 0, 0));
    margin: 3rem 0;
  }

  .text_cirkel_orange {
    width: 30px;
    height: 30px;
  }

  .moon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;

    box-shadow: 0 -1px 0 1px #ff9800;
  }
}
